$main-text-font: 'DM Sans';
$code-block-font: 'Source Code Pro';
$headings-font: 'Montserrat';
$headings-font-weight: 800;

$bg-color: #171917;
$text-color: #f4f4f4;
$code-text-color: #479c9c;
$code-background: #0c242b;
$text-font-size: 18px;

html, body.blog-post {
    background: $bg-color;
    color: $text-color;
}

body.blog-post {
    background: $bg-color;
    color: $text-color;
    pre {
        padding: 10px;   
    }
    
    code, pre {
        font-family: $code-block-font;
        color: lighten($code-text-color, 40%);
        background: $code-background;
    }
    
    body {
        max-width: 600px;
        margin: 0 auto;
    }
    
    h1, h2, h3, p, ul, li {
        font-family: $main-text-font;
    }
    
    h1, h2, h3, h4 {
        font-family: $headings-font;
        font-weight: $headings-font-weight;
        font-size: 2rem;
    }
    
    p {
        font-size: $text-font-size;
        line-height: 1.5;
    }
    
    ul {
        li {
            padding: 10px;
        }
    }
}